.hamburger {
  @media (min-width: 49em) {
    display: none;
  }
  &.open {
    & > span {
      transition: 0.3s;
      transform: rotate(45deg);
    }
    & > span::before {
      transform: rotate(90deg);
    }
    & > span::after {
      opacity: 0;
    }
  }

  position: relative;
  z-index: 10;
  cursor: pointer;
  padding: 1rem 0.5rem;
  & > span {
    display: block;
    height: 0.3rem;
    width: 2rem;
    background-color: var(--clr-black-100);
    border-radius: 0.5rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0.3rem;
      width: 2rem;
      background-color: var(--clr-black-100);
      border-radius: 0.5rem;
    }
    &::before {
      transform: translateY(-0.6rem);
    }
    &::after {
      transform: translateY(0.6rem);
    }
  }
}
